h1, h2, section {
    font-family:'Times New Roman', Times, serif;
}

h1, h2 {
    font-weight: 300;
    font-size: 2rem;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

section {
    border-top: 1px solid black;
    height: 50%;
}